docker.enabled         = true
docker.userEmulation   = true
docker.runOptions = '--platform linux/amd64'

params {
ref_file = "$PWD/data/run22/ref/*.bed"
encode = "$PWD/data/run22/encode/*.bed"
results = "$PWD/data/run22/results/"
agg_results = "$PWD/data/run22/agg_results/"
threads = 5
queue = 'normal'
max_parallel_process = 10
}